.*
!/.gitignore
*.iml
target
tendersData*
local_tendersData
local_tendersJson
tenderIngestionData
tendersJson
tenderFilesDownloaded
local_corrigendumData
local_corrigendumJson
corrigendumFilesDownloaded
tendersCrawledReports
tendersInDate
tenderRecrawledFiles
captchaImages
dump.rdb*
local_extractedPdfData
extractedPdfData
imagePreprocess

