<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>Please enter your details</h1>
    <form action="#" th:action="@{/api/new/User/register}" th:object="${user}" method="post">
        <p> Name :<input type="text" th:field="*{name}"></p>
        <p> lastName :<input type="text" th:field="*{lastName}"></p>
        <p> PassWord :<input type="password" th:field="*{password}"></p>
        <p> Email :<input type="email" th:field="*{email}"></p>
        <p><input type="submit" value="submit"></p>
    </form>

</div>
</body>
</html>